name: Tests

on:
  push:
    branches:
      - main
  pull_request:

env:
  UV_VERSION: 0.9.18

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |-
          uv sync --all-extras --all-groups --locked
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Run lint
        run: |-
          ruff check . --output-format=github
          ruff format --check .

  typecheck:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |-
          uv sync --all-extras --all-groups --locked
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Run typecheck
        run: basedpyright .

  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: |-
          uv sync --all-extras --all-groups --locked
          echo "$(pwd)/.venv/bin" >> $GITHUB_PATH

      - name: Run tests
        run: pytest
